html, body {
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	color: white;
	letter-spacing: 2px;


}

nav.navbar {
	opacity: .6;
	background-color:#FCE6F2;
}

li.active {
	background-color:#FCE6F2 !important;
	opacity: .8 !important;
}

.banner-img {
	background-color: blue;
	height: 500px;
	background: url(../img/choreosplash3.png);
	overflow: hidden;
    background-size: cover;
	text-align: center;
	display: table;
	width: 100%;

	font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.navbar-brand {
	color: #F21D8F !important;
}


.choreo-text{
	width: 50%;
	padding-top: 50px;
    margin: 0 auto;
    display: table-cell;
	text-align: center;
	vertical-align: middle;


    font-size: 200px;
    letter-spacing: 20px;
}

.video-section{
	background-color:#FCE6F2;
	color:white;
	height: 500px;
	width:100%;
}

